<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario de Deudas</title>
<link th:href="@{/materialize.css}" rel="stylesheet" />
<script src="/materialize.js"></script>
</head>
<script>
	function enviarPeticion(accion) {
		let formuario = document.getElementById("formulario")
		formulario.action = accion;
	}
</script>
<body>
	<div th:replace="~{header.html :: navbar}"></div>
	<div class="container">
		<div class="row">
			<h2>Deuda</h2>
		</div>
		<div class="row">
			<form id="formulario" th:object="${debt}" method="POST">

				<input type="submit" value="Insertar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/debts/insert')">
				<input type="submit" value="Modificar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/debts/update')">
				<input type="submit" value="Borrar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/debts/delete')">

				<input type="hidden" th:field="*{id}" id="id" />
				<div>
					<div class="input-field col s12">
						<label for="amount">Cantidad</label>
						<input type="text" th:field="*{amount}" id="amount" name="amount" />
					</div>
					<div class="input-field col s12">
						<label for="username">Usuario-Username</label> 
						<input type="text" name="username" id="username" th:field="*{user.username}" />
					</div>
					<div class="input-field col s12">
						<label for="group">Id Grupo</label> 
						<input type="text" name="group" id="group" th:field="*{group.id}" />
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>