
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario de Grupo</title>
<link th:href="@{/materialize.css}" rel="stylesheet" />
<script src="/materialize.js"></script>
</head>
<script>
	function enviarPeticion(accion) {
		let formuario = document.getElementById("formulario")
		formulario.action = accion;
	}
</script>
<body>
	<div th:replace="~{header.html :: navbar}"></div>
	<div class="container">
		<div class="row">
			<h2>Grupo</h2>
		</div>
		<div class="row">
			<form id="formulario" th:object="${group}" method="POST">
				<input type="submit" value="Insertar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/groups/insert')">
				<input type="submit" value="Modificar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/groups/update')">
				<input type="submit" value="Borrar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/groups/delete')">

				<input type="hidden" th:field="*{id}" id="id" />
				<div>
					<div class="input-field col s12">
						<label for="groupName">Nombre del grupo</label>
						<input type="text" id="groupName" name="groupName" th:field="*{groupName}"/>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>