<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="navbar">
		<nav>
			<div class="nav-wrapper" style="background-color: #1b7161">
				<a href="/web" class="brand-logo"><div style="margin-left:20px;padding-right:5px;border-right: 1px solid #000;display:flex;align-items:center;justify-content:center;">Biboup<img th:src="@{/logo2.png}" alt="logo" style="width:40px;height:40px;"></div></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/web/users">Usuarios</a></li>
					<li><a href="/web/debts">Deudas</a></li>
					<li><a href="/web/spents">Gastos</a></li>
					<li><a href="/web/groups">Grupos</a></li>
				</ul>
			</div>
		</nav>
	</div>
</html>