<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gasto</title>
<link th:href="@{/materialize.css}" rel="stylesheet" />
<script src="/materialize.js"></script>
</head>
<body>
	<div th:replace="~{header.html :: navbar}"></div>
	<div class="container">
		<div class="row">
			<h2>Gasto - <span th:text="${spent.spentName}"></span></h2>
		</div>
		<div class="row">
			<a th:href="@{/web/spents/form/{id}(id=${spent.id})}"
				class="waves-effect waves-light btn">Modificar</a>
		</div>
	</div>
	<div>
		<h2>Usuarios</h2>
	</div>
	<div>
		<form method="POST" id="addUformulario" action='/web/spents/addUser'>
			<div>
				<div class="input-field col s2">
					<label for="username">Username del usuario</label>
					<input type="text" id="username" name="username" />
				</div>
			</div>
			<input type="hidden" name="spentId" th:value="${spent.id}" /> 
			<input type="submit" value="Agregar" />
		</form>
	</div>
	<div class="row">
		<table class="striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Correo</th>
					<th>Nombre</th>
					<th>Telefono</th>
					<th>Monedero</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u: ${users}">
					<td><a th:href="@{/web/users/form/{id}(id=${u.id})}"><span
							th:text="${u.username}"></span></a></td>
					<td th:text="${u.email}" />
					<td th:text="${u.nameU}" />
					<td th:text="${u.telephone}" />
					<td th:text="${u.wallet}" />
					<td>
						<form method="POST" id="deleteGformulario"
							action='/web/spents/deleteUser'>
							<input type="hidden" name="spentId" th:value="${spent.id}" /> <input
								type="hidden" name="username" th:value="${u.username}" /> <input
								type="submit" value="Borrar" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>