<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario de Gasto</title>
<link th:href="@{/materialize.css}" rel="stylesheet" />
<script src="/materialize.js"></script>
</head>
<script>
	function enviarPeticion(accion) {
		let formuario = document.getElementById("formulario")
		formulario.action = accion;
	}
</script>
<body>
	<div th:replace="~{header.html :: navbar}"></div>
	<div class="container">
		<div class="row">
			<h2>Gasto</h2>
		</div>
		<div class="row">
			<form id="formulario" th:object="${spent}" method="POST">

				<input type="submit" value="Insertar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/spents/insert')">
				<input type="submit" value="Modificar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/spents/update')">
				<input type="submit" value="Borrar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/spents/delete')">

				<input type="hidden" th:field="*{id}" id="id" />
				<div>
					<div class="input-field col s12">
						<label for="spentName">Nombre</label>
						<input type="text" th:field="*{spentName}" id="spentName" name="spentName" />
					</div>
					<div class="input-field col s12">
						<label for="paye">Pagador</label> 
						<input type="text" id="paye" name="paye" th:field="*{payer.username}">
					</div>
					<div class="input-field col s12">
						<label for="quantity">Quantity</label>
						<input type="text" th:field="*{quantity}" id="quantity" name="quantity" />
					</div>
					<div class="input-field col s2">
						<label for="date">Fecha (DD/MM/YYYY)</label>
						<input type="date" id="date" name="date" th:field="*{date}" />
					</div>
					<div class="input-field col s12">
						<label for="groupId">ID del Grupo</label>
						<input type="text" id="groupId" name="groupId" th:field="*{group.id}" />
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>