<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gastos</title>
<link th:href="@{/materialize.css}" rel="stylesheet" />
<script src="/materialize.js"></script>
</head>
<body>
	<div th:replace="~{header.html :: navbar}"></div>
	
	<div class="container">
		<div class="row">
			<h2>Gastos</h2>
		</div>
		<div class="row">
			<div class="col s2  offset-s4">
				<form method="get" action="/web/spents/form">
					<input type="submit" class="waves-effect waves-light btn" value="Nuevo">
				</form>	
			</div>
		</div>
		<div class="row">
			<table class="striped">
				
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Pagador</th>
							<th>Fecha</th>
							<th>Cantidad</th>
							<th>Grupo</th>
						</tr>	
					</thead>
					<tbody>
							<tr>
								<tr th:each="s: ${spents}">
								<td>
									<a th:href="@{/web/spents/{id}(id=${s.id})}"><span th:text="${s.spentName}"></span></a>
								</td>
								<td th:text="${s.payer.username}"/>
								<td th:text="${s.date}"/>
								<td th:text="${s.quantity}"/>
								<td th:text="${s.group.groupName}"/>
							</tr>
					</tbody>	
				</table>
		</div>
	</div>
</body>
</html>