<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario de Usuario</title>
<link th:href="@{/materialize.css}" rel="stylesheet" />
<script src="/materialize.js"></script>
</head>
<script>
	function enviarPeticion(accion) {
		let formuario = document.getElementById("formulario")
		formulario.action = accion;
	}
</script>
<body>
	<div th:insert="header.html :: navbar"></div>
	<div class="container">
		<div class="row">
			<h2>Usuario</h2>
		</div>
		<div class="row">
			<form id="formulario" th:object="${user}" method="POST">
				<input type="submit" value="Insertar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/users/insert')">
				<input type="submit" value="Modificar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/users/update')">
				<input type="submit" value="Borrar"
					class="waves-effect waves-light btn-large"
					onclick="enviarPeticion('/web/users/delete')">

				<input type="hidden" th:field="*{id}" id="id" />
				<div>
					<div class="input-field col s12">
						<label for="username">Username</label>
						<input type="text" th:field="*{username}" id="username" name="username" />
					</div>
					<div class="input-field col s12">
						<label for="email">Email</label>
						<input th:field="*{email}" id="email" type="email" name="email"
							class="validate" />
					</div>
					<div class="input-field col s12">
						<label for="nameU">Nombre de Usuario</label>
						<input type="text" th:field="*{nameU}" id="nameU" name="nameU" />
					</div>
					<div class="input-field col s6">
						<label for="telephone">Teléfono</label>
						<input type="text" th:field="*{telephone}" id="telephone" name="telephone" />
					</div>
					<div class="input-field col s3">
						<label for="wallet">Monedero</label>
						<input th:field="*{wallet}" id="wallet" name="wallet" />
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>